.main-container-contact-card {
    display: flex;
}

.container-contact-list{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
}

.container-contact-card{
    border-left: 2px solid rgb(236,236,236);
    display: flex;
    flex-direction: column;
    flex: 5;
    height: 100vh;
    padding: 1rem;
    padding: 1rem 0 0 1rem;
}

.top-contact-card{
    flex: 1;
}

.main-contact-card{
    flex: 10;
}

.bottom-contact-card{
    display: flex;
    justify-content:space-between;
    flex:1;
    padding: 0 2rem 0 2rem;

}

.pl-8{
    padding-left: 8rem;
}

.pl-4{
    padding-left: 4rem;
}
.pt-4{
    padding-top: 4rem;
}
.df{
    display: flex;
}
.m0{
    margin: 0;
}
.grey{
    color: grey;
}
.lh2{
    line-height: 2rem;
}
.modal-delete-contact{
    position: fixed;
    left: 40vw;
    top: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 150px;
    border: 1px solid rgb(236,236,236);
    background-color: white;
    border-radius: 10px;
}