.login-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:25vh;
    left: 35vw;
    width: 500px;
    height: 300px;
    border: 1px solid rgb(236,236,236);
}